{
	servers {
		protocols h1 h2
	}
}

{$DOMAIN:localhost} {
	encode gzip zstd

	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}

lab.deploymatecloud.ru {
	encode gzip zstd

	handle /ws* {
		reverse_proxy codex-mobile-terminal-server:4020
	}

	handle {
		reverse_proxy codex-mobile-terminal-web:3000
	}
}

www.{$DOMAIN:localhost} {
	redir https://{$DOMAIN:localhost}{uri} permanent
}
